body{
    background-color: cornflowerblue;
}

#body-title {
    color:black;
    font-size: 2em;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 10px;
    background-color: salmon;
    color: white;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:100px;
    border-radius: 2px;
    background-color: salmon;
    color: white;
}

#body2 {
    background-color: lavender;
    height: 350px;
}
img {
    border-radius: 50%;
  }

  #avatar {
      height: 200px;
  }

  