#about {
        height: 1120px;
        color: white;
        padding-top: 20px;
}

#about_me {
        color: #f0ad4e;
        padding: 20px;
}



#aboutme_title{
        padding: 20px;
}

.logo_size {
        height: 90px;
        
}

.btn-1 {
      margin: 1px;
}

/* For Mobile */
@media screen and (max-width: 540px) {
        .view {
            width: 400px;
        }
    }