#about {
        height: 1320px;
        color: white;
        padding-top: 20px;
        white-space: wrap;
        overflow: hidden;
}

#about_me {
        color: #f0ad4e;
        padding: 20px;
}



#aboutme_title{
        padding: 20px;
}

.logo_size {
        height: 90px;
        
}

.btn-1 {
      margin: 1px;
}

/* For Mobile */
@media screen and (max-width: 540px) {
        .view {
         
                height: 1320px;

        }
    }