#home{
    height: 500px;
    color: black;
    margin-top: 130px;
    
    
}


.fade-in {
    animation: fadeIn ease 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
 
  
  
 
#name {
    font-size: 12em;
    color: #424242;
  
}

#position {
    font-style: italic;
    font-size: 2em;
    color: #f0ad4e;
}

#location {
    
    font-weight: lighter;
    color:#424242;
    font-size: 22px;
}

#socialContacts {
    display: flex;
align-items: space-between;
justify-content: center;
padding: 10px;


}

#prof-img {
	height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 5px solid #ddd;   
}


#footer {
    height: 90px;
    color: white;
}

.fa{
    color: #424242;
    text-shadow: 2px 2px 5px  #424242; 
}

