#section1 {
    height: 550px;
    background-size: cover;
    position: relative;
    
}

@media (max-width: 500px) {
    #section1 {
        background-image: url("https://i.imgrz.com/M27x.jpg");
        background-repeat: no-repeat;
      background-size: cover ;
    }
  }
@media (min-width: 481px) {
    #section1 {
      background-image: url("https://i.imgrz.com/M27x.jpg");
      background-repeat: no-repeat;
      background-size: cover ;
    }
  }

.fade-in {
    animation: fadeIn ease 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  

 
#name {
    font-size: 4.5em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

#position {
    font-style: italic;
    font-size: 1.5em;
    color: #f0ad4e;
    margin-top: 150px;

}

#location {
    
    font-weight: lighter;
    font-size: 22px;
}

#contact_info {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);

}


#prof-img {
	height: 350px;
    border-radius: 50%;
    border: 5px solid #ddd; 
    align-items: center;  
}

