.img-wrapper {
  height: 250px ;
  

}

.margin_60 {
  margin: 60px;
  text-align: center;
}

.margin_10 {
  margin: 20px;

}



.btn {
  width: 50%;
}

.btn_row {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
}

#section2 {
  padding-bottom: 50px;
}