.navbar {
    color: black;
    

}

a {
    color: black;
    font-weight: normal;
    font-size: 1 em;
}


  .navbar-toggler:hover {
    background: #292b2c !important;
  }

  .navbar-toggler:active {
    background: #292b2c  !important;
    
  }

