<div class="row">
  <div class="col-6 col-md-4">
    <a className="btn   text-center rounded-circle" href="https://github.com/Kuiil7"> 
        <p className="text-white">GitHub</p>
    </a>
    </div>
  <div class="col-6 col-md-4">

    <a className="btn   text-center rounded-circle" href="https://www.linkedin.com/in/joey-aguilera-merino-8298b6193/">
        <p className="text-white"> LinkedIn</p>
     </a>
    </div>
  <div class="col-6 col-md-4">
    <a className="btn  text-center "  href="https://onedrive.live.com/download?cid=657CABE1B252F7DF&resid=657CABE1B252F7DF%212009&authkey=ADu8A0SMy0D98-E" > 
        <p className="text-white"> Resume</p> 
    </a>
       
    </div>
</div>


